In [3]:
import numpy as np
import pandas as pd
from datetime import datetime

In [5]:
now = datetime.now()
now

datetime.datetime(2025, 8, 23, 8, 6, 13, 958052)

In [8]:
now.year, now.month, now.day

(2025, 8, 23)

In [9]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [11]:
delta.days

926

In [16]:
delta.seconds

56700

In [20]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [22]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [25]:
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [29]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [31]:
value = '2011-01-03'
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [32]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [34]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [35]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [37]:
idx[2]

NaT

In [39]:
pd.isna(idx)

array([False, False,  True])

In [40]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.standard_normal(6), index=dates)
ts

2011-01-02    0.333681
2011-01-05   -1.060474
2011-01-07    0.033878
2011-01-08   -0.216313
2011-01-10   -1.251727
2011-01-12    1.111543
dtype: float64

In [42]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [44]:
ts + ts[::2]

2011-01-02    0.667362
2011-01-05         NaN
2011-01-07    0.067757
2011-01-08         NaN
2011-01-10   -2.503454
2011-01-12         NaN
dtype: float64

In [45]:
ts.index.dtype

dtype('<M8[ns]')

In [47]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [49]:
stamp = ts.index[2]
ts[stamp]

np.float64(0.03387832554440911)

In [50]:
ts['2011-01-10']

np.float64(-1.251727096689827)

In [ ]:
longer_ts = pd.Series(np.random.standard_normal(1000),
                      index=pd.date_range('2000-01-01', periods=1000))
longer_ts
longer_ts

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2002-09-17', '2002-09-18', '2002-09-19', '2002-09-20',
               '2002-09-21', '2002-09-22', '2002-09-23', '2002-09-24',
               '2002-09-25', '2002-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [53]:
longer_ts['2001']

2001-01-01   -0.331851
2001-01-02    0.733832
2001-01-03   -0.584054
2001-01-04    0.758650
2001-01-05    0.101757
                ...
2001-12-27   -0.132391
2001-12-28    0.921527
2001-12-29   -1.445340
2001-12-30   -0.103034
2001-12-31   -0.656412
Freq: D, Length: 365, dtype: float64

In [55]:
longer_ts['2001-05']

2001-05-01   -1.964536
2001-05-02   -0.194253
2001-05-03    0.032040
2001-05-04    0.264716
2001-05-05    0.824989
2001-05-06   -0.991531
2001-05-07   -1.330009
2001-05-08    1.068778
2001-05-09   -0.169176
2001-05-10    0.884728
2001-05-11    0.931148
2001-05-12   -0.744981
2001-05-13    0.284426
2001-05-14   -1.106240
2001-05-15   -0.305295
2001-05-16   -1.216474
2001-05-17   -0.861058
2001-05-18    0.202042
2001-05-19   -1.254383
2001-05-20   -1.303443
2001-05-21    0.615472
2001-05-22    0.533201
2001-05-23   -0.514259
2001-05-24    1.281375
2001-05-25   -1.451364
2001-05-26   -0.317503
2001-05-27   -0.729523
2001-05-28    0.228238
2001-05-29    1.903491
2001-05-30   -0.693776
2001-05-31   -0.777336
Freq: D, dtype: float64

In [64]:
ts[datetime(2011,1,7):]

2011-01-07    0.033878
2011-01-08   -0.216313
2011-01-10   -1.251727
2011-01-12    1.111543
dtype: float64

In [67]:
dates = pd.date_range("2000-01-01", periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.standard_normal((100,4)),
                       index=dates,
                       columns=['Colorado', 'Texas', 
                                'New York', 'Ohio'])
long_df.loc['2001-05']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.114244  1.635691  0.346312  1.333473
2001-05-09  1.530484 -0.055372  0.640703 -0.595926
2001-05-16 -0.469982 -0.182024 -0.067182  0.718071
2001-05-23 -2.579463 -0.888530  1.731107 -0.084863
2001-05-30  1.336070 -0.011451  0.271669  1.734627

In [70]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02",
                          "2000-01-02", "2000-01-03"])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [72]:
dup_ts.index.is_unique

False

In [74]:
dup_ts['2000-01-03']

np.int64(4)

In [76]:
dup_ts['2000-01-02']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [81]:
grouped = dup_ts.groupby(level=0)
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [82]:
ts

2011-01-02    0.333681
2011-01-05   -1.060474
2011-01-07    0.033878
2011-01-08   -0.216313
2011-01-10   -1.251727
2011-01-12    1.111543
dtype: float64

In [85]:
resampler = ts.resample('D')
resampler

In [86]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')